services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: django_web
    restart: on-failure
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - MYSQL_DATABASE=mydatabase
      - MYSQL_USER=ptt_rag
      - MYSQL_PASSWORD=ptt_rag
      - MYSQL_HOST=mariadb
      - MYSQL_PORT=3306
      - REDIS_HOST=redis
    
  mariadb:
    image: mariadb:11.7.2
    container_name: my_mariadb
    restart: always
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "-u", "root", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - MYSQL_DATABASE=mydatabase
      - MYSQL_USER=ptt_rag
      - MYSQL_PASSWORD=ptt_rag
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
    volumes:
      - ./mariadb_data:/var/lib/mysql

  redis:
    image: redis:latest
    container_name: my_redis
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "6379:6379"

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_worker
    command: celery -A config worker -l info --max-tasks-per-child=50
    volumes:
      - .:/app
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - MYSQL_DATABASE=mydatabase
      - MYSQL_USER=ptt_rag
      - MYSQL_PASSWORD=ptt_rag
      - MYSQL_HOST=mariadb
      - MYSQL_PORT=3306
      - REDIS_HOST=redis
    deploy:
      resources:
        limits:
          memory: 512M
    restart: always

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: celery_beat
    command: celery -A config beat -l info
    volumes:
      - .:/app
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - MYSQL_DATABASE=mydatabase
      - MYSQL_USER=ptt_rag
      - MYSQL_PASSWORD=ptt_rag
      - MYSQL_HOST=mariadb
      - MYSQL_PORT=3306
      - REDIS_HOST=redis
    restart: always